<div class='nav nav-admin'>
  <span class='nav-admin title'><%= t('.title') %></span>

  <div class='nav-admin user'>
  <%= t('.welcome', name: current_user.email).html_safe %>
  <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
  </div>
</div>