<div class="col-sm-2 col">
  <div class="card">
    <%= image_tag badge.image_url, class:"card-img-top", alt: badge.title %>
    <div class="card-body">
      <p class="card-text text-center"><%= badge.title %></p>
    </div>
  </div>

</div>