<% if resource.errors.present? %>
  <div class="alert alert-danger">
    <p>
      <%= t('.header', count: resource.errors.count) %>
    </p>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      
    </ul>
  </div>
<% end %>
