<footer>
  <p>
    <%= full_year %> Ekimenkov Maksim 

    <%= github_url('forzamaks', 'testGuru') %>
  </p>
  <p><%= t('.info') %></p>
  <p>
  <%= link_to t('.link'), 'http://thinknetica.com/' %>
  
  </p>
</footer>