<footer>
  <p>
    <%= full_year %> Ekimenkov Maksim 

    <%= link_to 'Test Guru', github_url('forzamaks', 'testGuru') %>
  </p>
  <p>Проект по прохождению различных тестов</p>
  <p>
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com/' %>
  
  </p>
</footer>